<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>

<div class="container mt-3">
    <h2><%= title %></h2>
    <form method="POST" action="/reservations/add">
      <div class="mb-3">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text" name="firstName" required>
      </div>
      <div class="mb-3">
        <label for="surname">Surname</label>
        <input class="form-control" type="text" name="surname" required>
      </div>
      <div class="mb-3">
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" required>
      </div>
      <div class="mb-3">
        <label for="startDate">Start Date</label>
        <input class="form-control" type="date" name="startDate" required>
      </div>
      <div class="mb-3">
        <label for="endDate">End Date</label>
        <input class="form-control" type="date" name="endDate" required>
      </div>
      
        <button class="btn btn-primary" type="submit">Submit</button>  
        <button class="btn btn-secondary" type="reset">Reset</button>
        <a href="/listings" class="btn btn-warning">Cancel<i class="fas fa-undo"></i></a>   
    </form>
  </div>

<%- include ../partials/footer.ejs %>


